body{

    font-family:sans-serif ;
    margin: 0px;
    padding: 0px;
}


.full{

    width: 1400px;
}

ul{
margin-left: 40%;
}


ul li{
    margin: 25px 10px;
    padding: 10px;
    list-style: none;
    width: 100px;
    text-align: center;
    float: left;
    border: 1px solid gray;
  border-radius: 3px;
}

ul li a{
    text-decoration: none;
}

section{

    height: 500px;
}

.half-width{
    width: 30%;
    margin-left: 15%;
    padding-left: 2%;
    float: left;
    margin-top: 5%;
}

.half-width img{
    width: 100%;
    
}

.Name-area{

    
}

h1{
    font-family: sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}
p{
    font-size: 16px;
    color: gray;
}
.green-highlight{
    color: green;
}

.name-button{
 padding: 10px 30px;
 background-image: linear-gradient(180deg, lightgray, gray );
 border-radius: 3px;
 margin-top: 3%;
}

.name-button a{
    text-decoration: none;
    font-size: 18px;
}


.about-area{
    height: 700px;
}

.ab{
    font-size: 40px;
    padding-top: 10%;
}
.fa-download{
    color: blue;
    
}


.third-one{
    width: 25%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px lightgray;
}

.third-one img{

    width: 100%;
    
}

.work-area{


   background-image: url(../image/work-bg.JPG);
   background-size: cover;
   background-repeat: no-repeat;
   height: 900px;
}

.hedding-center{
    padding: 10% 18% 5% 25%;
}

.leave{

    margin-left: 8%;
}


.skill-area{


    background-image: url(../image/work-bg.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin-top: 2%;
 }

.full-bar{

    width: 100%;
    background-color:lightgray;
    height: 40px;
}

h2{
    font-size: 40px;
}

.skills-html{

    background-color: lime;
    width: 90%;
    padding: 8px;
    font-size: 20px;
    text-align: right;
}

.contant{
    width: 800px;
    margin-left: 10%;
    padding-top: 2%;
}



.skills-css{

    background-color: lime;
    width: 80%;
    padding: 8px;
    font-size: 20px;
    text-align: right;
}


.skills-java{

    background-color: lime;
    width: 40%;
    padding: 8px;
    font-size: 20px;
    text-align: right;
}



.skills-php{

    background-color: lime;
    width: 10%;
    padding: 8px;
    font-size: 20px;
    text-align: right;
}


.chat-area{

   margin-left: 10%;
    width: 80%;
   

}

.contant-area{

    background-image: url(../image/chatbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 10%;

}

.half{

    float: left;
    padding: 1%;
    width: 50%;
    

}

.chatheading{

    color: white;
    padding-left: 2%;
    margin-left: 15%;
    margin-top: 15%;
    color: white;
   

}

.chat-button{

    background-color: tomato;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-left: 10%;
    
}

#small{

    padding-top: 10%;
    margin-right: -50%;
}

#small a{

    text-decoration: none;
    color: white;
}

.below-area{

    width: 60%;
    margin-left: 10%;
    margin-top: -7%;
}

.bheading{

    margin-left: 45%;
    color: gray;

}

.mail{

    margin-left: 33%;
    text-transform: lowercase;

}

.icon img{

 width: 60%;
 float: left;
 padding: 10px;
 margin-left: 10px;
 
 
}


.icon ul {
    margin-left: 35%;
}

